* {
    box-sizing: border-box;
}

html {
    background-color: $color-charcoal;
    color: $color-white;
    font-family: "Mulish-Regular", sans-serif;
    font-weight: 400;
    font-style: normal;
}
