.u-no-underline {
    text-decoration: none;
}

// Отсутствие рамки
.u-no-border {
    border: none;
}

.u-rounded-lg {
    border-radius: 24px;
}
.u-text-white{
    color: $white-color;
}


// ========== BEM BLOCKS ==========
.button {
    // for links
    text-decoration: none;
    @include flex-center;
    @include font-poppins-semibold;
    width: 220px;
    height: 60px;
    border-radius: 16px;
    &--yellow {
        background-color: $yellow-color;
    }
    &--white {
        background-color: $white-color;
    }
    &--gap-sm{
        gap: 8px;
    }
    &--gap-md{
        gap: 12px;
    }
    &__text{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        &--gray{
            color: $gray-color;
        }
    }
    &__label{
        @include font-mulish-regular;
        font-size: 12px;
    }
    &__store{
        font-size: 16px;
    }
}

.container {
    width: 1440px;
    margin-inline: auto;
}

.card{
    &__block{
        height: 228px;
        width: 228px;
        &--orange{
            background-color: #FF6250;
        }
        &--white{
            background-color: #F2BFAF;
        }
        &--yellow{
            background-color: #F8D57E;
        }
    }
}




// DYNAMIC
.focus-visible{
    &:focus-visible{
        outline: 2px solid $blue-color;
        outline-offset: 4px;
    }
}