.u-no-underline {
    text-decoration: none;
}

// Отсутствие рамки
.u-no-border {
    border: none;
}

.u-rounded-lg {
    border-radius: 24px;
}
.u-text-white{
    color: $color-white;
}


// ========== BEM BLOCKS ==========
.button {
    // for links
    text-decoration: none;
    @include flex-center;
    @include font-poppins-semibold;
    width: 220px;
    height: 60px;
    border-radius: 16px;
    &--yellow {
        background-color: $color-sand;
    }
    &--white {
        background-color: $color-white;
    }
    &--gap-sm{
        gap: 8px;
    }
    &--gap-md{
        gap: 12px;
    }
    &__text{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        &--gray{
            color: $color-slate;
        }
    }
    &__label{
        @include font-mulish-regular;
        font-size: 12px;
    }
    &__store{
        font-size: 16px;
    }
}

.container {
    width: 1280px;
    margin-inline: auto;
}

.card{
    width: 362px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__block{
        height: 228px;
        width: 228px;
        @include flex-center;
        border-radius: 16px;
        margin-bottom: 30px;
        &--orange{
            background-color: $color-coral;
        }
        &--white{
            background-color: $color-peach;
        }
        &--yellow{
            background-color: $color-gold-light;
        }
    }
    &__title{
        @include font-poppins-semibold;
        font-size: 28px;
        line-height: 130%;
        margin-bottom: 12px;
    }
    &__subtitle{
        font-size: 16px;
        text-align: center;
    }
}




// DYNAMIC
.focus-visible{
    &:focus-visible{
        outline: 2px solid $color-primary-blue;
        outline-offset: 4px;
    }
}