.header {
    padding-block: 20px;

    &__container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__list {
        @include flex-center;
    }

    &__link {
        @include font-poppins-semibold;
        font-size: 16px;
        margin-right: 32px;
    }
}

.hero-section{
    height: 410px;
    min-height: 410px;
    display: flex;
    align-items: center;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__top-wrapper{
        margin-bottom: 40px;
    }
    &__title{
        @include font-poppins-bold;
        font-size: 67px;
        line-height: 130%;
    }
    &__subtitle{
        text-align: center;
        font-size: 28px;
    }
    &__bottom-wrapper{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

.preview-section{
    height: 800px;
    min-height: 800px;
    margin-bottom: 80px;
    &__container{
        @include flex-center;
        height: 100%;
    }
}

.features-section{
    height: 600px;
    min-height: 600px;
    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        @include font-poppins-bold;
        font-size: 38px;
        line-height: 130%;
        margin-bottom: 20px;
    }
    &__subtitle{
        font-size: 16px;
        margin-bottom: 50px;
    }
    &__content-container{
        display: flex;
        justify-content: center;
        gap: 50px;
    }
}


.customization-section{
    height: 700px;
    min-height: 700px;
    margin-bottom: 120px;
    &__title{
        font-size: 38px;
        @include font-poppins-bold;
        line-height: 130%;
        margin-bottom: 20px;
        color: $color-slate;
    }
    &__subtitle{
        font-size: 21px;
        margin-bottom: 40px;
        color: $color-slate;
    }
    &__content-container{
        background-color: $color-sand;
        display: flex;
        justify-content: space-around;
        padding: 80px 40px;
        border-radius: 16px;
    }
    &__advice-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.worlds-section{
    height: 650px;
    min-height: 650px;
}