.header {
    padding-block: 20px;

    &__container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__list {
        @include flex-center;
    }

    &__link {
        @include font-poppins-semibold;
        font-size: 16px;
        margin-right: 32px;
        &:hover{
            color: $color-white-hover;
        }
    }
}

.hero-section{
    height: 410px;
    min-height: 410px;
    display: flex;
    align-items: center;
    padding: 100px 0 60px 0;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__top-wrapper{
        margin-bottom: 40px;
    }
    &__title{
        @include font-poppins-bold;
        font-size: 67px;
        line-height: 130%;
    }
    &__subtitle{
        text-align: center;
        font-size: 28px;
    }
    &__bottom-wrapper{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

.preview-section{
    &__container{
        @include flex-center;
        height: 100%;
    }
}

.features-section{
    padding-block: 100px;
    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        @include font-poppins-bold;
        font-size: 38px;
        line-height: 130%;
        margin-bottom: 20px;
    }
    &__subtitle{
        font-size: 16px;
        margin-bottom: 50px;
    }
    &__content-container{
        display: flex;
        justify-content: center;
        gap: 50px;
    }
}


.customization-section{
    &__title{
        font-size: 38px;
        @include font-poppins-bold;
        line-height: 130%;
        margin-bottom: 20px;
        color: $color-slate;
    }
    &__subtitle{
        font-size: 21px;
        margin-bottom: 40px;
        color: $color-slate;
    }
    &__content-container{
        background-color: $color-sand;
        display: flex;
        justify-content: space-around;
        padding: 80px 40px;
        border-radius: 16px;
    }
    &__advice-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.worlds-section{
    padding-block: 100px;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        font-size: 38px;
        @include font-poppins-bold;
        line-height: 130%;
        margin-bottom: 20px;
    }
    &__subtitle{
        font-size: 16px;
        margin-bottom: 60px;
    }
    &__box-container{
        display: flex;
        gap: 30px;
    }
}

.footer{
    padding-block: 25px;
    &__copyright{
        font-size: 14px;
    }
    &__icon-box{
        display: flex;
        gap: 16px;
    }
    &__icon{
        transition: all 1s ease-in-out 0; 
        &:hover{
            transform: scale(1.05);
        }
    }
    &__container{
        display: flex;
        justify-content: space-between;
    }
}