.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-block: 20px;
    &__list{
        @include flex-center;
    }
    &__link {
        @include font-poppins-semibold;
        margin-right: 32px;
    }
}