@media(max-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media(max-width: 1199px) {
    .container {
        width: 960px;
    }
}

@media(max-width: 991px) {
    .container {
        width: 720px;
    }

    // header
    .header {
        &__nav-menu {
            display: none;
        }

        // show hamburger-menu (in future)
    }

    // customization-section
    .customization-section {
        &__left-wrapper {
            display: none;
        }

        &__right-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }
}

@media(max-width: 767px) {
    .container {
        width: 540px;
    }

}

@media(max-width: 575px) {
    .container {
        width: 100%;
    }
}